@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    box-sizing: border-box; /* Ensure consistent box sizing */
}

* {
    box-sizing: inherit; /* Inherit box-sizing from body */
}

@layer components {
  .border-border {
      border: none; /* Remove border */
  }
}
